/*=================================*/
/*=============Шрифты=============*/
/*=================================*/
@import url(https://allfont.ru/index.php/allfont.css?fonts=colonna-mt);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
html, body {
    font-family: 'Exo 2', sans-serif;
}

h1 {
   font-family: 'Colonna MT', Arial, sans-serif; 
}
.menu__item, .button {
    font-family: 'Fira Sans', sans-serif;
}
.text {
    font-family: 'Ubuntu', sans-serif;
}
/*==========================================*/
/*=============Общие параметры=============*/
/*==========================================*/
.button {
    font-size: 24px;
    text-align: center;
    padding: 13px 40px;
    color: #fff;
    border-radius: 40px;
}
.btn-blue {
    background-color: #3B2BFA;
}
.btn-blue:hover {
    background-color: #2517CD;
    box-shadow: 1px 1px 10px #fff;
}
.btn-orange {
    background-color: #FA9A2B;
}
.btn-orange:hover {
    background-color: #D68527;
    box-shadow: 1px 1px 10px #fff;
}

a:visited, a:hover {
    color: #fff;
}
.title {
    font-size: 56px;
    color: #fff;
    text-align: center;
}
.title::after {
    content: "";
    height: 4px;
    width: 110px;
    background-color: #FA9A2B;
    display: block;
    margin: 20px auto 0 auto;
    
}
.ibg {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.ibg>img {display: none;}

@media(max-width: 991px) {
    .title {
        font-size: 40px;
    }
}
@media(max-width: 767px) {
    .title {
        font-size: 36px;
    }
}
/*=================================*/
/*=============Обёртка=============*/
/*=================================*/
.wrapper {
    overflow: hidden;
    min-height: 100vh;
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
/*================================*/
/*=============Шапка=============*/
/*==============================*/
.header {
    background: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    z-index: 10;
}
.menu, .menu-mobile {
    height: 60px;
}
.icon-logo {
    height: 36px;
    width: auto;
}
.icon-call {
    height: 30px;
    width: auto;
    margin-right: 10px;
}
/*Мобильная версия*/
.nav__burger {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.burger-element {
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
}
.burger-element:nth-child(2) {
    margin: 6px 0;
}
nav .dropdown {
    text-align: right;
}
.menu-m__logo {
    color: #fff;
    font-size: 24px;
    line-height: 36px;
}
.menu-m__company {
    margin-left: 15px;
}
@media(max-width: 369px) {
    .menu-m__company {
        display: none;
    }
    .menu-m__logo {
        width: 20%;
    }
    nav .dropdown {
        width: 80%;
    }
}
/*Десктоп и планшеты*/
.menu__item {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
}
/*=======================================*/
/*=============Главный экран=============*/
/*=======================================*/
.main-screen {
    flex: 1 0 100%;
    position: relative;
}

.main-screen__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.main-screen__container {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
.main-screen__content {
    padding-top: 60px;
}
.main-screen__title {
    position: relative;
    color: #fff;
    font-size: 170px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 70px;
}
.main-screen__title::before {
    content: "";
    position: absolute;
    left: 999px;
    top: -37px;
    height: 31px;
    width: 31px;
    background: url(../images/main-screen/overTitle.png) no-repeat;
}
.main-screen__subtitle {
    color: rgba(255,255,255,0.9);
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
}
.main-screen__buttons {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}

/*====================================*/
/*=============О компании=============*/
/*====================================*/
.about {
    padding: 70px 0;
    background: url(../images/about/about__bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.about__title {
    margin-bottom: 50px;
}
.about__item {
    padding-top: 5px;
    padding-left: 35px;
    font-size: 22px;
    color: #fff;
    background: url(../images/header/logo.png) 0 0/30px auto no-repeat;
    
}
.about__item:not(:last-child) {
    margin-bottom: 25px;
}
.about__image {
    text-align: center;
}
.about__image>img {
    width: 80%;
}

/*====================================*/
/*=============Наши услуги============*/
/*====================================*/
.services {
    padding: 70px 0;
    background: url(../images/services/services__bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.services__title {
    margin-bottom: 50px;
}
.services__row {
    justify-content: space-between;
}
.services__column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex: 0 1 300px;
    -moz-flex: 0 1 300px;
    -ms-flex: 0 1 300px;
    -o-flex: 0 1 300px;
    flex: 0 1 300px;
    margin-bottom: 60px;
    padding: 0 30px;
}
.item-service {
    background: linear-gradient(180deg, rgba(59,43,250,0.3) 0%, rgba(250,154,43,0.3) 100%);
    background: -webkit-linear-gradient: linear-gradient(180deg, rgba(59,43,250,0.3) 0%, rgba(250,154,43,0.3) 100%);
    background: -o-linear-gradient: linear-gradient(180deg, rgba(59,43,250,0.3) 0%, rgba(250,154,43,0.3) 100%);
    background: linear-gradient: linear-gradient(180deg, rgba(59,43,250,0.3) 0%, rgba(250,154,43,0.3) 100%);
/*    background: rgba(255,255,255,0.9);*/
    border-radius: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    color: #fff;
}
.item-service__image {
    margin-bottom: 18px;
}
.item-service__image>img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 280px;
    height: 200px;
}
.item-service__title {
    font-size: 18px;
    margin-bottom: 18px;
    flex: 1 0 auto;
}
.item-service__conditions {
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 30px;
}
.item-service__cost {
    font-size: 26px;
}
.item-service__worktime {
    text-align: right;
    font-size: 18px;
    line-height: 26px;
}
.item-service__button {
    -ms-align-self: center;
    align-self: center;
    padding: 6px 20px;
    font-size: 20px;
    margin-bottom: 15px;
}
@media(max-width: 400px) {
    .item-service__image>img {
        max-width: 220px;
    }
    .item-service__cost {
        font-size: 20px;
    }
}
/*====================================*/
/*=============Преимущества===========*/
/*====================================*/
.advantages {
    padding: 70px 0 90px 0;
    background: url(../images/advantages/advantages__bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.advantages__title {
    margin-bottom: 80px;
}
.advantages__row {
    margin: 0 -9px 0 -9px;
}
.advantages__column {
    padding: 0 9px 0 9px;
    margin-bottom: 50px;
}
.item-advantage {
    text-align: center;
}
.item-advantage__icon {
    margin-bottom: 20px;
}
.item-advantage__icon>img {
    height: 70px;
    width: auto;
}
.item-advantage__label {
    font-weight: bold;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}
.item-advantage__text {
    color: rgba(255,255,255,0.9);
    font-size: 18px;
    padding: 0 10px;
}

/*====================================*/
/*=============Контакты===============*/
/*====================================*/
.contacts {
    padding: 60px 0 80px 0;
    background: url(../images/contacts/contacts__%20bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.contacts__body {
    margin-bottom: 270px;
}
.contacts__title {
    margin-bottom: 50px;
}
.contacts__call, .contacts__messenger {
    justify-content: flex-start;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.contacts__button-top, .contacts__button-bottom {
    margin-bottom: 60px;
    -ms-align-self: center;
    align-self: center;
}
.contacts__block {
    flex: 1 0 auto;
    max-height: 130px;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 80px;
    padding: 0 10.500px;
    background: rgba(255,255,255,0.2);
    background: -webkit-linear-gradient: linear-gradient(180deg, rgba(59,43,250,0.3) 0%, rgba(250,154,43,0.3) 100%);
    background: -o-linear-gradient: linear-gradient(180deg, rgba(59,43,250,0.3) 0%, rgba(250,154,43,0.3) 100%);
    background: linear-gradient: linear-gradient(180deg, rgba(59,43,250,0.3) 0%, rgba(250,154,43,0.3) 100%);
}
.contacts__text {
    color: #fff;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}
.contacts__image {
    text-align: center;
}
.contacts__image>img {
    max-width: 90%;
}
.footer {
    background: rgba(0,0,0,0.7);
    position: relative;
    left: 0;
    bottom: 265px;
}
.footer__body {
    padding: 30px 0;
}
.footer__row {
    color: #fff;
}
.footer__column {
    font-size: 20px;
    margin-bottom: 46px;
}
.footer__contacts-title, .footer__info-title {
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin-bottom: 45px;
}
.footer__logo {
    text-align: center;
}
.footer__logo>div>img {
    width: 100%;
    max-width: 80px;
    height: auto;
}





/*=========================================*/
/*==============Адаптив XL=================*/
/*=========================================*/
@media(max-width: 1399px) {
    .main-screen__title {
        font-size: 140px;
        margin-bottom: 65px;
    }
    .main-screen__title::before {
        left: 848px;
        top: -26px;
        height: 29px;
        width: 29px;
        background: url(../images/main-screen/overTitleXL.png) no-repeat;
    }
    .main-screen__subtitle {
        font-size: 30px;
        margin-bottom: 65px;
    }
}

/*=========================================*/
/*==============Адаптив LG=================*/
/*=========================================*/
@media(max-width: 1199px) {
    .main-screen__title {
        font-size: 120px;
        margin-bottom: 60px;
    }
    .main-screen__title::before {
        left: 718px;
        top: -19px;
        height: 25px;
        width: 26px;
        background: url(../images/main-screen/overTitleLG.png) no-repeat;
    }
    .main-screen__subtitle {
        font-size: 25px;
        margin-bottom: 60px;
    }
    .main-screen__button {
        font-size: 20px;
    }
    /*  Второй экран  */
    
    /*=========================*/
    /*======Наши услуги========*/
    /*=========================*/
    .services__row {
        justify-content: space-around;
    }
}

/*=========================================*/
/*==============Адаптив md=================*/
/*=========================================*/
@media(max-width: 991px) {
    .main-screen__title {
        font-size: 90px;
        margin-bottom: 40px;
    }
    .main-screen__title::before {
        left: 540px;
        top: -6px;
        height: 20px;
        width: 20px;
        background: url(../images/main-screen/overTitleMD.png) no-repeat;
    }
    .main-screen__subtitle {
        margin-bottom: 50px;
    }
    /*==========================*/
    /*======Вторая секция======*/
    /*=========================*/
    .about__item {
        font-size: 18px;
    }
    
    /*=========================*/
    /*========Контакты=========*/
    /*=========================*/
    .contacts__block {
        max-height: 100%;
    }
    .contacts__body {
        margin-bottom: 253px;
    }
    
    
    /*=========================*/
    /*==========Футер==========*/
    /*=========================*/
    .footer {
        background: rgba(0,0,0,0.7);
        position: relative;
        left: 0;
        bottom: 253px;
    }
    .footer__contacts-title, .footer__info-title {
        text-align: left;
    }
    .footer__column {
        margin-bottom: 0;
        line-height: 30px;
    }
}

/*=========================================*/
/*==============Адаптив sm=================*/
/*=========================================*/
@media(max-width: 767px) {
    .main-screen__title {
        font-size: 70px;
    }
    .main-screen__title::before {
        left: 410px;
        top: 3px;
        height: 13px;
        width: 13px;
        background: url(../images/main-screen/overTitleSM.png) no-repeat;
    }
    .main-screen__subtitle {
        font-size: 20px;
        margin-bottom: 80px;
    }
    .main-screen__buttons {
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .main-screen__button {
        width: 100%;
    }
    .main-screen__button.btn-blue {
        margin-bottom: 30px;
    }
    
    /*=========================*/
    /*======О компании=========*/
    /*=========================*/
    .about__content {
        padding-right: 30px;
    }
    
    /*=========================*/
    /*======Наши услуги========*/
    /*=========================*/
    .services__row {
        justify-content: center;
    }
    .services__column {
        padding: 0;
        -webkit-flex: 0 1 60%;
        -moz-flex: 0 1 60%;
        -ms-flex: 0 1 60%;
        -o-flex: 0 1 60%;
        flex: 0 1 60%;
    }
    .item-service {
        -webkit-flex: 0 1 100%;
        -moz-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        -o-flex: 0 1 100%;
        flex: 0 1 100%;
    }
    .item-service__image {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .item-service__image>img {
        -webkit-flex: 1 1 auto;
        -moz-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        -o-flex: 1 1 auto;
        flex: 1 1 auto;
        height: auto;
    }
    .item-service__conditions {
        margin-bottom: 10px;
    }
    
    /*=========================*/
    /*========Контакты=========*/
    /*=========================*/
    .contacts__call {
        margin-bottom: 60px;
    }
    .contacts__button-top, .contacts__button-bottom {
        -ms-align-self: stretch;
        align-self: stretch;
        margin-bottom: 20px;
    }
    .contacts__block {
        margin-bottom: 40px;
    }
    .contacts__body {
        margin-bottom: 226px;
    }
    
    /*=========================*/
    /*==========Футер==========*/
    /*=========================*/
    .footer {
        bottom: 226px;
    }
    .footer__contacts-title, .footer__info-title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .footer__column {
        font-size: 18px;
    }
}
/*=========================================*/
/*==============Адаптив xs=================*/
/*=========================================*/
@media(max-width: 575px) {
    .main-screen__title {
        font-size: 13vw;
    }
    .main-screen__title::before {
        display: none;
    }
    .main-screen__subtitle {
        font-size: 4.5vw;
    }
    .main-screen__button {
        font-size: 18px;
    }
    
    /*=========================*/
    /*======Вторая секция======*/
    /*=========================*/
    
    /*=========================*/
    /*======Наши услуги========*/
    /*=========================*/
    
    /*=========================*/
    /*========Почему мы========*/
    /*=========================*/
    .item-advantage {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-align-items: center;
        align-items: center;
        padding: 10px;
        background-color: rgba(255,255,255,0.1);
        border-radius: 10px;
    }
    .item-advantage__icon {
        flex: 0 1 30%;
        margin-bottom: 15px;
    }
    .item-advantage__icon>img {
        height: 50px;
        width: auto;
    }
    .item-advantage__label {
        flex: 1 0 70%;
        text-align: left;
        margin-bottom: 0;
        font-size: 22px;
    }
    .item-advantage__text {
        flex: 1 1 100%;
        padding: 0 15px;
    }
    
    /*=========================*/
    /*========Контакты=========*/
    /*=========================*/
    .contacts__text {
        font-size: 22px;
    }
    [class^="contacts__button"] {
        font-size: 18px;
    }
    .contacts__body {
        margin-bottom: 282px;
    }
    
    /*=========================*/
    /*==========Футер==========*/
    /*=========================*/
    .footer {
        bottom: 282px;
    }
    .footer__column {
        font-size: 18px;
    }
    .footer__column-mobile {
        text-align: center;
        margin-bottom: 30px;
    }
    .footer__column-mobile.order-2, .footer__column-mobile.order-3 {
        margin-bottom: 0;
        align-self: flex-end;
    }
    .footer__info, .footer__contacts {
        margin-bottom: 30px;
    }
    .footer__contacts .footer__row {
        height: 100%;
    }
    .footer__column-mobile>img {
        width: 46px;
        height: auto;
    }
    .footer-m__company {
        font-size: 24px;
        margin-left: 15px;
        color: #fff;
    }
    .footer__logo-row {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 309px) {
    .contacts__body {
        margin-bottom: 256px;
    }
    .footer {
        bottom: 256px;
    }
    .footer__info {
        width: 50%;
        margin-left: 8.33333333%;
    }
    .footer__logo>div>img {
        max-width: 50px;
        height: auto;
    }
}







